<div class="container-md">
   <div class="row">
      <div class="col-sm-3">
         {{#each beersFromApi}}
         {{> beerpartial}}
         {{/each}}
      </div>
   </div>
</div>
 


