body {
    background-color: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    color:#f7f9f9;
    background-color: #2081c3;
}

.navbar-li {
    list-style-type: none;
    text-decoration: none;
    padding-right: 15px;
}

h3 {
    color: #bfbfbf;
}

img {
    width: 4rem;
    height: 9rem;
}

footer {
    color: #f7f9f9;
    background-color: #0a2c42;
}
/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
